# Notebook for creating the result tables and stats for my master thesis
***
Hannah Weiser

## Imports

In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
from scipy.stats import ttest_rel

## Input paths

In [3]:
metric_folder = "H:/movingtree_b2h/data/metrics"

tls_height_metrics = "tls_height_metrics.pkl"
tls_height_metrics_mls = "tls_height_metrics_mls.pkl"
tls_geometric_feats = "tls_geometric_feats.pkl"
tls_geometric_feats_mls = "tls_geometric_feats_mls.pkl"
tls_voxel_metrics = "tls_voxel_metrics.pkl"
tls_voxel_metrics_mls = "tls_voxel_metrics_mls.pkl"
tls_la_metrics = "tls_lai_gap_frac.pkl"
tls_la_metrics_mls = "tls_lai_gap_frac_mls.pkl"
tls_la_tri = "leaf_areas_tri.txt"
tls_la_tri_mls = "leaf_areas_tri_mls.txt"
la_reference = "leaf_area_reference.txt"
uls_la_amapvox = "la_amapvox.txt"
tls_la_amapvox = "la_amapvox_tls.txt"

uls_height_metrics = "uls_height_metrics.pkl"
uls_geometric_feats = "uls_geometric_feats.pkl"
uls_voxel_metrics = "uls_voxel_metrics.pkl"

## Height metrics

### TLS

In [4]:
# TLS
hm_df = pd.read_pickle(Path(metric_folder) / tls_height_metrics)
hm_mls_df = pd.read_pickle(Path(metric_folder) / tls_height_metrics_mls)
hm_means_by_scenario = hm_df.groupby(["scenario"]).agg("mean")
hm_mls_means_by_scenario = hm_mls_df.groupby(["scenario"]).agg("mean")

#### Tree characteristics

In [5]:
print(f'Smallest tree: {hm_df.loc["static"]["Max"].min():.2f} m')
print(f'Tallest tree: {hm_df.loc["static"]["Max"].max():.2f} m')

Smallest tree: 2.47 m
Tallest tree: 2.98 m

#### Mean and std. of height

In [6]:
hm_df = pd.read_pickle(Path(metric_folder) / tls_height_metrics)
hm_mls_df = pd.read_pickle(Path(metric_folder) / tls_height_metrics_mls)
hm_means_by_scenario = hm_df.groupby(["scenario"]).agg("mean")
hm_mls_means_by_scenario = hm_mls_df.groupby(["scenario"]).agg("mean")

In [7]:
print(hm_means_by_scenario[["Mean", "Std"]].style.format(precision=3).to_latex())
print(hm_mls_means_by_scenario[["Mean", "Std"]].style.format(precision=3).to_latex())

\begin{tabular}{lrr}
 & Mean & Std \\
scenario &  &  \\
a & 1.396 & 0.601 \\
b & 1.397 & 0.599 \\
c & 1.406 & 0.595 \\
static & 1.391 & 0.603 \\
\end{tabular}

\begin{tabular}{lrr}
 & Mean & Std \\
scenario &  &  \\
a & 1.395 & 0.602 \\
b & 1.396 & 0.601 \\
c & 1.404 & 0.598 \\
static & 1.393 & 0.603 \\
\end{tabular}

#### Number of points

In [8]:
print("BEFORE FILTERING")
print("Minimum number of points per scenario")
display(hm_df.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("min"))
print("Maximum number of points per scenario")
display(hm_df.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("max"))
print("Mean number of points per scenario")
display(hm_df.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("mean").round(decimals=1))
print("Differences between static scenario and scenario c")
display((hm_df.groupby("scenario").mean().loc["c"] 
        - hm_df.groupby("scenario").mean().loc["static"]).round(decimals=4))

BEFORE FILTERING
Minimum number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a            425814           88131          230463
b            416969           87986          222176
c            438866           84763          245482
static       412852           89115          217027

Maximum number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a            990723          231288          775256
b            988796          229396          773277
c            983249          226006          767855
static       991665          232615          776790

Mean number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a          555701.2        169002.0        386699.2
b          560094.5        168580.6        391513.9
c          587061.5        166314.4        420747.1
static     543297.4        169804.1        373493.3

Differences between static scenario and scenario c

no_points         43764.1333
no_wood_points    -3489.6667
no_leaf_points    47253.8000
Mean                  0.0151
Max                  -0.0009
Std                  -0.0073
D1                    0.0156
D2                    0.0138
D3                    0.0196
D4                    0.0236
D5                    0.0221
D6                    0.0157
D7                    0.0148
D8                    0.0068
D9                   -0.0047
dtype: float64

In [9]:
print("Percentage of leaf points in each scenario")
hm_df.groupby("scenario").mean()["no_leaf_points"] / hm_df.groupby("scenario").mean()["no_points"]

Percentage of leaf points in each scenario

scenario
a         0.695876
b         0.699014
c         0.716700
static    0.687457
dtype: float64

In [10]:
print("AFTER FILTERING")
print("Minimum number of points per scenario")
display(hm_mls_df.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("min"))
print("Maximum number of points per scenario")
display(hm_mls_df.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("max"))
print("Mean number of points per scenario")
display(hm_mls_df.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("mean").round(decimals=1))

AFTER FILTERING
Minimum number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a            400533           81930          215229
b            391478           82896          205845
c            410283           80722          224742
static       390625           80892          207290

Maximum number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a            944840          219410          741045
b            940737          219249          735905
c            930883          217409          724753
static       948511          219018          746618

Mean number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a          521736.3        159831.8        361904.5
b          524651.5        160604.3        364047.1
c          546797.9        159591.3        387206.6
static     514233.0        158735.9        355497.1

In [11]:
print("Reduction of points by filtering")
display(hm_mls_df.groupby("scenario").mean()[["no_points", "no_wood_points", "no_leaf_points"]] - hm_df.groupby("scenario").mean()[["no_points", "no_wood_points", "no_leaf_points"]])

Reduction of points by filtering

             no_points  no_wood_points  no_leaf_points
scenario
a        -33964.866667    -9170.200000   -24794.666667
b        -35443.000000    -7976.266667   -27466.733333
c        -40263.666667    -6723.133333   -33540.533333
static   -29064.400000   -11068.200000   -17996.200000

In [12]:
print("Differences in height deciles through filtering")
display(hm_mls_df.groupby("scenario").mean()[["D1", "D2", "D3", "D4", "D5", "D6", "D7", "D8", "D9"]] - hm_df.groupby("scenario").mean()[["D1", "D2", "D3", "D4", "D5", "D6", "D7", "D8", "D9"]])

Differences in height deciles through filtering

,D1,D2,D3,D4,D5,D6,D7,D8,D9
scenario,,,,,,,,,
a,-0.003800,-0.000851,-0.001514,-0.000759,0.001130,0.001897,0.000197,0.000764,0.001352
b,-0.005834,-0.001287,-0.002243,-0.001689,0.000913,0.000037,-0.000969,-0.000816,0.001011
c,-0.005598,-0.003086,-0.003301,-0.001641,0.000186,0.000287,-0.000928,0.000308,0.001272
static,0.000786,0.001468,0.002495,0.002948,0.003561,0.004420,0.002413,0.001692,0.002225

### ULS

In [13]:
hm_df_uls = pd.read_pickle(Path(metric_folder) / uls_height_metrics)
print("ULS")
print("Minimum number of points per scenario")
display(hm_df_uls.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("min"))
print("Maximum number of points per scenario")
display(hm_df_uls.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("max"))
print("Mean number of points per scenario")
display(hm_df_uls.groupby(["scenario"])[["no_points", "no_wood_points", "no_leaf_points"]].agg("mean").round(decimals=1))

ULS
Minimum number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a              1816              90            1645
b              1818              91            1650
c              1809              91            1650
static         1817              91            1648

Maximum number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a              3278             655            2623
b              3265             656            2609
c              3252             658            2612
static         3274             653            2621

Mean number of points per scenario

          no_points  no_wood_points  no_leaf_points
scenario
a            2432.3           359.9          2072.5
b            2432.3           360.2          2072.1
c            2430.2           360.0          2070.2
static       2432.5           358.9          2073.5

### Leaf area metrics
#### TLS
Load all the data to data frames.

In [14]:
la_ref_df = pd.read_csv(Path(metric_folder) / la_reference, sep=" ", index_col="tree_id")
la_df = pd.read_pickle(Path(metric_folder) / tls_la_metrics)
la_mls_df = pd.read_pickle(Path(metric_folder) / tls_la_metrics_mls)
la_df_tri = pd.read_csv(Path(metric_folder) / tls_la_tri, sep=" ")
la_df_tri_mls = pd.read_csv(Path(metric_folder) / tls_la_tri_mls, sep=" ")
la_df_amapvox = pd.read_csv(Path(metric_folder) / tls_la_amapvox, sep=" ")

Merge all the data to one data frame.

In [15]:
la_df = pd.merge(la_df[["alpha_leaf_area", "poisson_leaf_area", "poisson_leaf_area_fixedthresh"]].reset_index(), la_mls_df[["alpha_leaf_area", "poisson_leaf_area", "poisson_leaf_area_fixedthresh"]].reset_index(), on=["tree_id", "scenario"], suffixes=('', '_mls')).set_index(["scenario", "tree_id"])
la_df = pd.merge(la_df.reset_index(), la_df_tri, on=["tree_id", "scenario"], suffixes=('', '_mls')).set_index(["scenario", "tree_id"])
la_df = pd.merge(la_df.reset_index(), la_df_tri_mls, on=["tree_id", "scenario"], suffixes=('', '_mls')).set_index(["scenario", "tree_id"])
la_df = pd.merge(la_df.reset_index(), la_ref_df, on=["tree_id"]).set_index(["scenario", "tree_id"])
la_df_amapvox = pd.merge(la_df_amapvox.reset_index(), la_ref_df, on=["tree_id"]).set_index(["scenario", "tree_id"])

In [16]:
la_df["alpha_la_diff"] = (la_df["alpha_leaf_area"]-la_df["leaf_area"])
la_df["alpha_la_mls_diff"] = (la_df["alpha_leaf_area_mls"]-la_df["leaf_area"])
la_df["tri_la_diff"] = (la_df["la_tri"]-la_df["leaf_area"])
la_df["tri_la_mls_diff"] = (la_df["la_tri_mls"]-la_df["leaf_area"])
la_df["poisson_la_diff"] = (la_df["poisson_leaf_area"]-la_df["leaf_area"])
la_df["poisson_la_fixedthresh_diff"] = (la_df["poisson_leaf_area_fixedthresh"]-la_df["leaf_area"])
la_df["poisson_la_mls_diff"] = (la_df["poisson_leaf_area_mls"]-la_df["leaf_area"])
la_df["poisson_la_mls_fixedthresh_diff"] = (la_df["poisson_leaf_area_fixedthresh_mls"]-la_df["leaf_area"])
la_df_amapvox["la_t_diff"] = (la_df_amapvox["la_t"] - la_df_amapvox["leaf_area"])
la_df_amapvox["la_att_fpl_diff"] = (la_df_amapvox["la_att_fpl"] - la_df_amapvox["leaf_area"])
la_df_amapvox["la_att_ppl_diff"] = (la_df_amapvox["la_att_ppl"] - la_df_amapvox["leaf_area"])

Create new columns with the relative differences.

In [17]:
la_df["alpha_la_diff_rel"] = (la_df["alpha_leaf_area"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["alpha_la_mls_diff_rel"] = (la_df["alpha_leaf_area_mls"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["tri_la_diff_rel"] = (la_df["la_tri"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["tri_la_mls_diff_rel"] = (la_df["la_tri_mls"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["poisson_la_diff_rel"] = (la_df["poisson_leaf_area"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["poisson_la_fixedthresh_diff_rel"] = (la_df["poisson_leaf_area_fixedthresh"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["poisson_la_mls_diff_rel"] = (la_df["poisson_leaf_area_mls"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df["poisson_la_mls_fixedthresh_diff_rel"] = (la_df["poisson_leaf_area_fixedthresh_mls"]-la_df["leaf_area"]) / la_df["leaf_area"] * 100
la_df_amapvox["la_t_diff_rel"] = (la_df_amapvox["la_t"] - la_df_amapvox["leaf_area"]) / la_df["leaf_area"] * 100
la_df_amapvox["la_att_fpl_diff_rel"] = (la_df_amapvox["la_att_fpl"] - la_df_amapvox["leaf_area"]) / la_df["leaf_area"] * 100
la_df_amapvox["la_att_ppl_diff_rel"] = (la_df_amapvox["la_att_ppl"] - la_df_amapvox["leaf_area"]) / la_df["leaf_area"] * 100

In [21]:
la_df = la_df.astype("float")
display(la_df[["alpha_la_diff", "alpha_la_mls_diff", "tri_la_diff", "tri_la_mls_diff", "poisson_la_diff", "poisson_la_mls_diff", "poisson_la_fixedthresh_diff", "poisson_la_mls_fixedthresh_diff"]].groupby("scenario").agg("mean").round(decimals=2))
display(la_df_amapvox[["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]].groupby("scenario").agg("mean").round(decimals=3))

,alpha_la_diff,alpha_la_mls_diff,tri_la_diff,tri_la_mls_diff,poisson_la_diff,poisson_la_mls_diff,poisson_la_fixedthresh_diff,poisson_la_mls_fixedthresh_diff
scenario,,,,,,,,
a,0.61,-0.08,2.23,0.23,0.40,-0.12,0.56,-0.06
b,0.72,-0.00,3.17,0.37,0.62,-0.10,0.86,-0.04
c,1.11,0.25,4.88,0.83,1.06,0.04,1.42,0.13
static,0.48,-0.16,1.17,0.09,0.17,-0.14,0.26,-0.09

          la_t_diff  la_att_fpl_diff  la_att_ppl_diff
scenario
a            -0.013            0.201            0.157
b            -0.019            0.208            0.155
c             0.005            0.289            0.202
static       -0.030            0.166            0.136

In [23]:
display(la_df[["alpha_la_diff_rel",
               "alpha_la_mls_diff_rel",
               "tri_la_diff_rel", 
               "tri_la_mls_diff_rel",
               "poisson_la_diff_rel",
               "poisson_la_mls_diff_rel",
               "poisson_la_fixedthresh_diff_rel", 
               "poisson_la_mls_fixedthresh_diff_rel"]].groupby("scenario").agg("mean").round(decimals=2))
display(la_df_amapvox[["la_t_diff_rel",
                       "la_att_fpl_diff_rel", 
                       "la_att_ppl_diff_rel"]].groupby("scenario").agg("mean").round(decimals=3))

,alpha_la_diff_rel,alpha_la_mls_diff_rel,tri_la_diff_rel,tri_la_mls_diff_rel,poisson_la_diff_rel,poisson_la_mls_diff_rel,poisson_la_fixedthresh_diff_rel,poisson_la_mls_fixedthresh_diff_rel
scenario,,,,,,,,
a,65.97,-5.84,226.28,23.91,42.34,-8.86,56.84,-4.17
b,77.43,1.93,321.20,38.06,64.51,-7.00,86.34,-2.17
c,117.68,28.29,497.47,85.19,110.87,7.26,143.74,14.95
static,51.54,-14.96,115.99,9.50,17.98,-10.57,25.66,-6.78

          la_t_diff_rel  la_att_fpl_diff_rel  la_att_ppl_diff_rel
scenario
a                 2.964               25.969               21.887
b                 2.150               26.551               21.332
c                 5.104               35.579               26.794
static            0.924               22.040               19.301

In [24]:
display(la_df[["alpha_la_diff",
               "alpha_la_mls_diff",
               "tri_la_diff",
               "tri_la_mls_diff",
               "poisson_la_diff",
               "poisson_la_mls_diff",
               "poisson_la_fixedthresh_diff",
               "poisson_la_mls_fixedthresh_diff"]].groupby("scenario").agg("median").round(decimals=2))

,alpha_la_diff,alpha_la_mls_diff,tri_la_diff,tri_la_mls_diff,poisson_la_diff,poisson_la_mls_diff,poisson_la_fixedthresh_diff,poisson_la_mls_fixedthresh_diff
scenario,,,,,,,,
a,0.60,-0.02,2.02,0.20,0.36,-0.09,0.52,-0.06
b,0.75,0.04,3.01,0.32,0.59,-0.07,0.80,-0.03
c,1.08,0.31,4.81,0.84,1.03,0.08,1.37,0.12
static,0.45,-0.12,1.01,0.08,0.15,-0.10,0.24,-0.08

In [25]:
display(la_df[["alpha_la_diff_rel",
               "alpha_la_mls_diff_rel",
               "tri_la_diff_rel",
               "tri_la_mls_diff_rel",
               "poisson_la_diff_rel",
               "poisson_la_mls_diff_rel",
               "poisson_la_fixedthresh_diff_rel",
               "poisson_la_mls_fixedthresh_diff_rel"]].groupby("scenario").agg("median").round(decimals=2))

,alpha_la_diff_rel,alpha_la_mls_diff_rel,tri_la_diff_rel,tri_la_mls_diff_rel,poisson_la_diff_rel,poisson_la_mls_diff_rel,poisson_la_fixedthresh_diff_rel,poisson_la_mls_fixedthresh_diff_rel
scenario,,,,,,,,
a,76.52,-3.15,215.99,25.69,39.17,-11.15,51.97,-6.24
b,87.49,5.12,317.32,36.76,59.88,-6.79,81.55,-3.41
c,124.65,32.11,472.94,86.33,102.88,7.37,137.65,11.17
static,58.46,-15.13,103.08,9.61,18.20,-10.72,24.00,-8.26

In [26]:
la_df_diffs_static = la_df.loc["static", ["alpha_la_diff", "alpha_la_mls_diff", "tri_la_diff", "tri_la_mls_diff", "poisson_la_diff", "poisson_la_mls_diff", "poisson_la_fixedthresh_diff", "poisson_la_mls_fixedthresh_diff"]]
la_df_diffs_a = la_df.loc["a", ["alpha_la_diff", "alpha_la_mls_diff", "tri_la_diff", "tri_la_mls_diff", "poisson_la_diff", "poisson_la_mls_diff", "poisson_la_fixedthresh_diff", "poisson_la_mls_fixedthresh_diff"]]
la_df_diffs_b = la_df.loc["b", ["alpha_la_diff", "alpha_la_mls_diff", "tri_la_diff", "tri_la_mls_diff", "poisson_la_diff", "poisson_la_mls_diff", "poisson_la_fixedthresh_diff", "poisson_la_mls_fixedthresh_diff"]]
la_df_diffs_c = la_df.loc["c", ["alpha_la_diff", "alpha_la_mls_diff", "tri_la_diff", "tri_la_mls_diff", "poisson_la_diff", "poisson_la_mls_diff", "poisson_la_fixedthresh_diff", "poisson_la_mls_fixedthresh_diff"]]

la_df_amapvox_diffs_static = la_df_amapvox.loc["static", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]
la_df_amapvox_diffs_a = la_df_amapvox.loc["a", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]
la_df_amapvox_diffs_b = la_df_amapvox.loc["b", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]
la_df_amapvox_diffs_c = la_df_amapvox.loc["c", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]

In [27]:
la_df_rel_diffs_static = la_df.loc["static", ["alpha_la_diff_rel", "alpha_la_mls_diff_rel", "tri_la_diff_rel", "tri_la_mls_diff_rel", "poisson_la_diff_rel", "poisson_la_mls_diff_rel", "poisson_la_fixedthresh_diff_rel", "poisson_la_mls_fixedthresh_diff_rel"]]
la_df_rel_diffs_a = la_df.loc["a", ["alpha_la_diff_rel", "alpha_la_mls_diff_rel", "tri_la_diff_rel", "tri_la_mls_diff_rel", "poisson_la_diff_rel", "poisson_la_mls_diff_rel", "poisson_la_fixedthresh_diff_rel", "poisson_la_mls_fixedthresh_diff_rel"]]
la_df_rel_diffs_b = la_df.loc["b", ["alpha_la_diff_rel", "alpha_la_mls_diff_rel", "tri_la_diff_rel", "tri_la_mls_diff_rel", "poisson_la_diff_rel", "poisson_la_mls_diff_rel", "poisson_la_fixedthresh_diff_rel", "poisson_la_mls_fixedthresh_diff_rel"]]
la_df_rel_diffs_c = la_df.loc["c", ["alpha_la_diff_rel", "alpha_la_mls_diff_rel", "tri_la_diff_rel", "tri_la_mls_diff_rel", "poisson_la_diff_rel", "poisson_la_mls_diff_rel", "poisson_la_fixedthresh_diff_rel", "poisson_la_mls_fixedthresh_diff_rel"]]

la_df_amapvox_rel_diffs_static = la_df_amapvox.loc["static", ["la_t_diff_rel", "la_att_fpl_diff_rel", "la_att_ppl_diff_rel"]]
la_df_amapvox_rel_diffs_a = la_df_amapvox.loc["a", ["la_t_diff_rel", "la_att_fpl_diff_rel", "la_att_ppl_diff_rel"]]
la_df_amapvox_rel_diffs_b = la_df_amapvox.loc["b", ["la_t_diff_rel", "la_att_fpl_diff_rel", "la_att_ppl_diff_rel"]]
la_df_amapvox_rel_diffs_c = la_df_amapvox.loc["c", ["la_t_diff_rel", "la_att_fpl_diff_rel", "la_att_ppl_diff_rel"]]

In [19]:
print("Differences between leaf area estimates in scenario c and scenario static:")
display(la_df_diffs_c.mean() - la_df_diffs_static.mean())
display(la_df_diffs_c.median() - la_df_diffs_static.median())

display(la_df_amapvox_diffs_c.mean() - la_df_amapvox_diffs_static.mean())
display(la_df_amapvox_diffs_c.median() - la_df_amapvox_diffs_static.median())

Differences between leaf area estimates in scenario c and scenario static:

alpha_la_diff                      0.629890
alpha_la_mls_diff                  0.413926
tri_la_diff                        3.710410
tri_la_mls_diff                    0.746601
poisson_la_diff                    0.892200
poisson_la_mls_diff                0.178499
poisson_la_fixedthresh_diff        1.153232
poisson_la_mls_fixedthresh_diff    0.221079
dtype: float64

alpha_la_diff                      0.635570
alpha_la_mls_diff                  0.432803
tri_la_diff                        3.794866
tri_la_mls_diff                    0.753757
poisson_la_diff                    0.886546
poisson_la_mls_diff                0.180623
poisson_la_fixedthresh_diff        1.134975
poisson_la_mls_fixedthresh_diff    0.191214
dtype: float64

la_t_diff          0.035162
la_att_fpl_diff    0.122250
la_att_ppl_diff    0.066076
dtype: float64

la_t_diff          0.038129
la_att_fpl_diff    0.141531
la_att_ppl_diff    0.072505
dtype: float64

In [29]:
print("Differences between leaf area estimates in scenario c and scenario static (in percentage errors):")
display(la_df_rel_diffs_c.mean() - la_df_rel_diffs_static.mean())
display(la_df_rel_diffs_c.median() - la_df_rel_diffs_static.median())

display(la_df_amapvox_rel_diffs_c.mean() - la_df_amapvox_rel_diffs_static.mean())
display(la_df_amapvox_rel_diffs_c.median() - la_df_amapvox_rel_diffs_static.median())

Differences between leaf area estimates in scenario c and scenario static (in percentage errors):

alpha_la_diff_rel                       66.145858
alpha_la_mls_diff_rel                   43.246320
tri_la_diff_rel                        381.475732
tri_la_mls_diff_rel                     75.694433
poisson_la_diff_rel                     92.885121
poisson_la_mls_diff_rel                 17.829261
poisson_la_fixedthresh_diff_rel        118.071187
poisson_la_mls_fixedthresh_diff_rel     21.729150
dtype: float64

alpha_la_diff_rel                       66.193505
alpha_la_mls_diff_rel                   47.241586
tri_la_diff_rel                        369.857163
tri_la_mls_diff_rel                     76.726854
poisson_la_diff_rel                     84.672802
poisson_la_mls_diff_rel                 18.086258
poisson_la_fixedthresh_diff_rel        113.645535
poisson_la_mls_fixedthresh_diff_rel     19.425488
dtype: float64

la_t_diff_rel           4.179853
la_att_fpl_diff_rel    13.539176
la_att_ppl_diff_rel     7.492536
dtype: float64

la_t_diff_rel           4.431297
la_att_fpl_diff_rel    13.868834
la_att_ppl_diff_rel     7.153742
dtype: float64

##### Statistical significance

In [20]:
print("Paired t-test between LA_t and true leaf area")
print(ttest_rel(la_df_amapvox["la_t"].to_numpy(), la_df_amapvox["leaf_area"].to_numpy()))
print("\nPaired t-test between LA_att_ppl and true leaf area")
print(ttest_rel(la_df_amapvox["la_att_ppl"].to_numpy(), la_df_amapvox["leaf_area"].to_numpy()))
print("\nPaired t-test between LA_att_fpl and true leaf area")
print(ttest_rel(la_df_amapvox["la_att_fpl"].to_numpy(), la_df_amapvox["leaf_area"].to_numpy()))
print("\nPaired t-test between LA_att_fpl and LA_t")
print(ttest_rel(la_df_amapvox["la_att_fpl"].to_numpy(), la_df_amapvox["la_t"].to_numpy()))
print("\nPaired t-test between LA_att_ppl and LA_t")
print(ttest_rel(la_df_amapvox["la_att_ppl"].to_numpy(), la_df_amapvox["la_t"].to_numpy()))
print("\nPaired t-test between LA_att_ppl and LA_att_fpl")
print(ttest_rel(la_df_amapvox["la_att_ppl"].to_numpy(), la_df_amapvox["la_att_fpl"].to_numpy()))

Paired t-test between LA_t and true leaf area
TtestResult(statistic=-0.49603129427782017, pvalue=0.6217151874557177, df=59)

Paired t-test between LA_att_ppl and true leaf area
TtestResult(statistic=4.697986523304818, pvalue=1.6159922034684903e-05, df=59)

Paired t-test between LA_att_fpl and true leaf area
TtestResult(statistic=6.466725862660893, pvalue=2.147403920904983e-08, df=59)

Paired t-test between LA_att_fpl and LA_t
TtestResult(statistic=29.821433211771147, pvalue=2.8063667359701335e-37, df=59)

Paired t-test between LA_att_ppl and LA_t
TtestResult(statistic=23.874938336907785, pvalue=5.188113140640624e-32, df=59)

Paired t-test between LA_att_ppl and LA_att_fpl
TtestResult(statistic=-10.281699261979657, pvalue=8.989165198578833e-15, df=59)

In [21]:
print("Paired t-test between scenario static and scenario c for the transmittance method")
print(ttest_rel(la_df_amapvox.loc["static"]["la_t"], la_df_amapvox.loc["c"]["la_t"]))
print("\nPaired t-test between scenario static and scenario c for the attenuation method with the PPL estimator")
print(ttest_rel(la_df_amapvox.loc["static"]["la_att_ppl"], la_df_amapvox.loc["c"]["la_att_ppl"]))
print("\nPaired t-test between scenario static and scenario c for the attenuation method with the FPL estimator")
print(ttest_rel(la_df_amapvox.loc["static"]["la_att_fpl"], la_df_amapvox.loc["c"]["la_att_fpl"]))

Paired t-test between scenario static and scenario c for the transmittance method
TtestResult(statistic=-3.902006244088702, pvalue=0.0015954423778555093, df=14)

Paired t-test between scenario static and scenario c for the attenuation method with the PPL estimator
TtestResult(statistic=-5.937430278934456, pvalue=3.625426779236029e-05, df=14)

Paired t-test between scenario static and scenario c for the attenuation method with the FPL estimator
TtestResult(statistic=-9.357208086166649, pvalue=2.1135089287029486e-07, df=14)

#### ULS

In [31]:
la_df_uls = pd.read_csv(Path(metric_folder) / uls_la_amapvox, sep=" ")
la_df_uls = pd.merge(la_df_uls.reset_index(), la_ref_df, on=["tree_id"]).set_index(["scenario", "tree_id"])
la_df_uls["la_t_diff"] = (la_df_uls["la_t"] - la_df_uls["leaf_area"])
la_df_uls["la_att_fpl_diff"] = (la_df_uls["la_att_fpl"] - la_df_uls["leaf_area"])
la_df_uls["la_att_ppl_diff"] = (la_df_uls["la_att_ppl"] - la_df_uls["leaf_area"])
la_df_uls_diffs_static = la_df_uls.loc["static", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]
la_df_uls_diffs_a = la_df_uls.loc["a", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]
la_df_uls_diffs_b = la_df_uls.loc["b", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]
la_df_uls_diffs_c = la_df_uls.loc["c", ["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]]

In [32]:
la_df_uls["la_t_diff_rel"] = (la_df_uls["la_t"] - la_df_uls["leaf_area"]) / la_df_uls["leaf_area"] * 100
la_df_uls["la_att_fpl_diff_rel"] = (la_df_uls["la_att_fpl"] - la_df_uls["leaf_area"]) / la_df_uls["leaf_area"] * 100
la_df_uls["la_att_ppl_diff_rel"] = (la_df_uls["la_att_ppl"] - la_df_uls["leaf_area"]) / la_df_uls["leaf_area"] * 100

In [33]:
display(la_df_uls[["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]].groupby("scenario").agg("mean"))

          la_t_diff  la_att_fpl_diff  la_att_ppl_diff
scenario
a         -0.026162        -0.061543        -0.105568
b         -0.021950        -0.056357        -0.100207
c         -0.023356        -0.057498        -0.101966
static    -0.024106        -0.058652        -0.100905

In [36]:
display(la_df_uls[["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]].groupby("scenario").agg("median"))

          la_t_diff  la_att_fpl_diff  la_att_ppl_diff
scenario
a         -0.000728        -0.024607        -0.065852
b          0.016559        -0.015311        -0.048146
c          0.018324        -0.015357        -0.053831
static     0.020488        -0.012349        -0.033631

In [34]:
display(la_df_uls[["la_t_diff_rel", "la_att_fpl_diff_rel", "la_att_ppl_diff_rel"]].groupby("scenario").agg("mean"))

          la_t_diff_rel  la_att_fpl_diff_rel  la_att_ppl_diff_rel
scenario
a              4.352531             0.514195            -3.683151
b              4.957244             1.241539            -3.037846
c              4.716347             1.023262            -3.333925
static         4.493182             0.785197            -3.249571

In [35]:
display(la_df_uls[["la_t_diff_rel", "la_att_fpl_diff_rel", "la_att_ppl_diff_rel"]].groupby("scenario").agg("median"))

          la_t_diff_rel  la_att_fpl_diff_rel  la_att_ppl_diff_rel
scenario
a             -0.082364            -2.783584            -7.764986
b              1.593106            -1.536022            -5.183087
c              1.762924            -1.323857            -7.085042
static         2.042830            -1.231298            -3.804410

In [24]:
display(la_df_uls[["la_t_diff", "la_att_fpl_diff", "la_att_ppl_diff"]].groupby("scenario").agg("median"))

          la_t_diff  la_att_fpl_diff  la_att_ppl_diff
scenario
a         -0.000728        -0.024607        -0.065852
b          0.016559        -0.015311        -0.048146
c          0.018324        -0.015357        -0.053831
static     0.020488        -0.012349        -0.033631

In [25]:
display(la_df_uls_diffs_c.mean() - la_df_uls_diffs_static.mean())

la_t_diff          0.000750
la_att_fpl_diff    0.001154
la_att_ppl_diff   -0.001061
dtype: float64

##### Statistical significance

In [26]:
print("Paired t-test between LA_t and true leaf area")
print(ttest_rel(la_df_uls["la_t"].to_numpy(), la_df_uls["leaf_area"].to_numpy()))
print("\nPaired t-test between LA_att_ppl and true leaf area")
print(ttest_rel(la_df_uls["la_att_ppl"].to_numpy(), la_df_uls["leaf_area"].to_numpy()))
print("\nPaired t-test between LA_att_fpl and true leaf area")
print(ttest_rel(la_df_uls["la_att_fpl"].to_numpy(), la_df_uls["leaf_area"].to_numpy()))
print("\nPaired t-test between LA_att_fpl and LA_t")
print(ttest_rel(la_df_uls["la_att_fpl"].to_numpy(), la_df_uls["la_t"].to_numpy()))
print("\nPaired t-test between LA_att_ppl and LA_t")
print(ttest_rel(la_df_uls["la_att_ppl"].to_numpy(), la_df_uls["la_t"].to_numpy()))
print("\nPaired t-test between LA_att_ppl and LA_att_fpl")
print(ttest_rel(la_df_uls["la_att_ppl"].to_numpy(), la_df_uls["la_att_fpl"].to_numpy()))

Paired t-test between LA_t and true leaf area
TtestResult(statistic=-0.6642786456555395, pvalue=0.5090998692501556, df=59)

Paired t-test between LA_att_ppl and true leaf area
TtestResult(statistic=-2.7045952916682148, pvalue=0.008923489695730884, df=59)

Paired t-test between LA_att_fpl and true leaf area
TtestResult(statistic=-1.6659171571029097, pvalue=0.10103129609636771, df=59)

Paired t-test between LA_att_fpl and LA_t
TtestResult(statistic=-15.40368737206208, pvalue=2.434082112336339e-22, df=59)

Paired t-test between LA_att_ppl and LA_t
TtestResult(statistic=-22.317819779540688, pvalue=1.8775554416197495e-30, df=59)

Paired t-test between LA_att_ppl and LA_att_fpl
TtestResult(statistic=-9.33489777401555, pvalue=3.1744574852223325e-13, df=59)

In [27]:
print("Paired t-test between scenario static and scenario c for the transmittance method")
print(ttest_rel(la_df_uls.loc["static"]["la_t"], la_df_uls.loc["c"]["la_t"]))
print("\nPaired t-test between scenario static and scenario c for the attenuation method with the PPL estimator")
print(ttest_rel(la_df_uls.loc["static"]["la_att_ppl"], la_df_uls.loc["c"]["la_att_ppl"]))
print("\nPaired t-test between scenario static and scenario c for the attenuation method with the FPL estimator")
print(ttest_rel(la_df_uls.loc["static"]["la_att_fpl"], la_df_uls.loc["c"]["la_att_fpl"]))

Paired t-test between scenario static and scenario c for the transmittance method
TtestResult(statistic=-0.1457488356608335, pvalue=0.8861973781647904, df=14)

Paired t-test between scenario static and scenario c for the attenuation method with the PPL estimator
TtestResult(statistic=0.14500488824118238, pvalue=0.8867739059030606, df=14)

Paired t-test between scenario static and scenario c for the attenuation method with the FPL estimator
TtestResult(statistic=-0.23279746054440842, pvalue=0.8192876979008342, df=14)

### Geometric features
#### NoData values

In [28]:
gf_dir = Path(metric_folder) / "geomfeats"
# pre mls
a_vs1 = list(Path(gf_dir).glob("a_*_1_gf.pkl"))
a_vs5 = list(Path(gf_dir).glob("a_*_5_gf.pkl"))
b_vs1 = list(Path(gf_dir).glob("b_*_1_gf.pkl"))
b_vs5 = list(Path(gf_dir).glob("b_*_5_gf.pkl"))
c_vs1 = list(Path(gf_dir).glob("c_*_1_gf.pkl"))
c_vs5 = list(Path(gf_dir).glob("c_*_5_gf.pkl"))
static_vs1 = list(Path(gf_dir).glob("static_*_1_gf.pkl"))
static_vs5 = list(Path(gf_dir).glob("static_*_5_gf.pkl"))

# wood
wood_static_vs1 = list(Path(gf_dir).glob("static_*_1_wood_gf.pkl"))
wood_static_vs5 = list(Path(gf_dir).glob("static_*_5_wood_gf.pkl"))

# post mls
a_vs1_mls = list(Path(gf_dir).glob("a_*_1_gf_mls.pkl"))
a_vs5_mls = list(Path(gf_dir).glob("a_*_5_gf_mls.pkl"))
b_vs1_mls = list(Path(gf_dir).glob("b_*_1_gf_mls.pkl"))
b_vs5_mls = list(Path(gf_dir).glob("b_*_5_gf_mls.pkl"))
c_vs1_mls = list(Path(gf_dir).glob("c_*_1_gf_mls.pkl"))
c_vs5_mls = list(Path(gf_dir).glob("c_*_5_gf_mls.pkl"))
static_vs1_mls = list(Path(gf_dir).glob("static_*_1_gf_mls.pkl"))
static_vs5_mls = list(Path(gf_dir).glob("static_*_5_gf_mls.pkl"))

def create_geomfeats_df_dict(combinations, names):
    df_dict = {}
    for combo, name in zip(combinations, names):
        all_dfs = []
        n_trees = len(combo)
        for f in combo:
            df = pd.read_pickle(f)
            all_dfs.append(df)
        df_dict[name] = pd.concat(all_dfs, ignore_index=True)

    return df_dict

In [29]:
names_l = ["a_vs1", "a_vs5", "b_vs1", "b_vs5", "c_vs1", "c_vs5", "static_vs1", "static_vs5"]
merged_df_dict = create_geomfeats_df_dict(combinations=[a_vs1, a_vs5, b_vs1, b_vs5,
                                                        c_vs1, c_vs5, static_vs1, static_vs5],
                                          names=names_l)
merged_mls_df_dict = create_geomfeats_df_dict(combinations = [a_vs1_mls, a_vs5_mls, b_vs1_mls, b_vs5_mls,
                                                              c_vs1_mls, c_vs5_mls, static_vs1_mls, static_vs5_mls],
                                              names=names_l)
names_w = ["wood_static_vs1", "wood_static_vs5"]
merged_wood_df_dict = create_geomfeats_df_dict(combinations=[wood_static_vs1, wood_static_vs5],
                                               names=names_w)

#### NoData values

a) Before filtering

In [30]:
print("Voxel size = 1 cm, Planarity\n")
print(f'NoData values in static scenario: {merged_df_dict["static_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["static_vs1"]["planarity"].isna().sum().sum() / len(merged_df_dict["static_vs1"].index)*100):.2f}%')
print(f'NoData values in scenario a: {merged_df_dict["a_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["a_vs1"]["planarity"].isna().sum().sum() / len(merged_df_dict["a_vs1"].index)*100):.2f}%')
print(f'NoData values in scenario b: {merged_df_dict["b_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["b_vs1"]["planarity"].isna().sum().sum() / len(merged_df_dict["b_vs1"].index)*100):.2f}%')
print(f'NoData values in scenario c: {merged_df_dict["c_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["c_vs1"]["planarity"].isna().sum().sum() / len(merged_df_dict["b_vs1"].index)*100):.2f}%')

Voxel size = 1 cm, Planarity

NoData values in static scenario: 14147 = 0.28%
NoData values in scenario a: 14487 = 0.27%
NoData values in scenario b: 14416 = 0.27%
NoData values in scenario c: 15445 = 0.29%

In [31]:
print("Voxel size = 5 cm, Planarity\n")
print(f'NoData values in static scenario: {merged_df_dict["static_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["static_vs5"]["planarity"].isna().sum().sum() / len(merged_df_dict["static_vs5"].index)*100):.4f}%')
print(f'NoData values in scenario a: {merged_df_dict["a_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["a_vs5"]["planarity"].isna().sum().sum() / len(merged_df_dict["a_vs5"].index)*100):.4f}%')
print(f'NoData values in scenario b: {merged_df_dict["b_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["b_vs5"]["planarity"].isna().sum().sum() / len(merged_df_dict["b_vs5"].index)*100):.4f}%')
print(f'NoData values in scenario c: {merged_df_dict["c_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_df_dict["c_vs5"]["planarity"].isna().sum().sum() / len(merged_df_dict["b_vs5"].index)*100):.4f}%')

Voxel size = 5 cm, Planarity

NoData values in static scenario: 252 = 0.0049%
NoData values in scenario a: 223 = 0.0042%
NoData values in scenario b: 214 = 0.0040%
NoData values in scenario c: 200 = 0.0037%

b) After filtering

In [32]:
print("Voxel size = 1 cm, Planarity\n")
print(f'NoData values in static scenario: {merged_mls_df_dict["static_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["static_vs1"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["static_vs1"].index)*100):.4f}%')
print(f'NoData values in scenario a: {merged_mls_df_dict["a_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["a_vs1"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["a_vs1"].index)*100):.4f}%')
print(f'NoData values in scenario b: {merged_mls_df_dict["b_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["b_vs1"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["b_vs1"].index)*100):.4f}%')
print(f'NoData values in scenario c: {merged_mls_df_dict["c_vs1"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["c_vs1"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["b_vs1"].index)*100):.4f}%')

Voxel size = 1 cm, Planarity

NoData values in static scenario: 205 = 0.0042%
NoData values in scenario a: 281 = 0.0056%
NoData values in scenario b: 367 = 0.0073%
NoData values in scenario c: 658 = 0.0131%

In [33]:
print("Voxel size = 5 cm, Planarity\n")
print(f'NoData values in static scenario: {merged_mls_df_dict["static_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["static_vs5"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["static_vs5"].index)*100):.6f}%')
print(f'NoData values in scenario a: {merged_mls_df_dict["a_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["a_vs5"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["a_vs5"].index)*100):.6f}%')
print(f'NoData values in scenario b: {merged_mls_df_dict["b_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["b_vs5"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["b_vs5"].index)*100):.6f}%')
print(f'NoData values in scenario c: {merged_mls_df_dict["c_vs5"]["planarity"].isna().sum().sum()} \
= {(merged_mls_df_dict["c_vs5"]["planarity"].isna().sum().sum() / len(merged_mls_df_dict["b_vs5"].index)*100):.6f}%')

Voxel size = 5 cm, Planarity

NoData values in static scenario: 2 = 0.000041%
NoData values in scenario a: 4 = 0.000080%
NoData values in scenario b: 7 = 0.000140%
NoData values in scenario c: 5 = 0.000100%

### Significance Tests

### Real Trees

#### LA metrics and voxel metrics

In [34]:
metric_folder = "H:/movingtree_b2h/data/metrics"

real_la = Path(metric_folder) / "2022-05-11_TLS_tree4_t_filtered_classified_lai.pkl"
real_la_mls = Path(metric_folder) / "2022-05-11_TLS_tree4_t_filtered_classified_lai_mls.pkl"
real_la_tri = Path(metric_folder) / "leaf_areas_real_tri.txt"
real_vox = Path(metric_folder) / "2022-05-11_TLS_tree4_t_filtered_classified_vox.pkl"
real_vox_mls = Path(metric_folder) / "2022-05-11_TLS_tree4_t_filtered_classified_vox_mls.pkl"

In [35]:
real_la_df = pd.read_pickle(real_la)
real_la_mls_df = pd.read_pickle(real_la_mls)

In [36]:
real_la_df[["alpha_leaf_area", "poisson_leaf_area"]].round(decimals=3)

   alpha_leaf_area  poisson_leaf_area
0            1.721              2.413

In [37]:
real_la_mls_df[["alpha_leaf_area", "poisson_leaf_area"]].round(decimals=3)

   alpha_leaf_area  poisson_leaf_area
0            1.044              0.955

In [38]:
print("Difference between LA estimated from unfiltered and filtered point clouds")
display((real_la_df[["alpha_leaf_area", "poisson_leaf_area"]] - real_la_mls_df[["alpha_leaf_area", "poisson_leaf_area"]]).round(decimals=3))

Difference between LA estimated from unfiltered and filtered point clouds

   alpha_leaf_area  poisson_leaf_area
0            0.677              1.458

In [39]:
real_la_tri_df = pd.read_csv(real_la_tri, sep=" ")
real_la_tri_df.round(decimals=3)

                tree_id  la_tri  la_tri_mls
0  2022-05-11_TLS_tree4  10.575       1.842

In [40]:
print("Difference between LA estimated from unfiltered and filtered point clouds")
(real_la_tri_df["la_tri"] - real_la_tri_df["la_tri_mls"]).round(decimals=3)

Difference between LA estimated from unfiltered and filtered point clouds

0    8.733
dtype: float64

#### Geometric features

In [41]:
gf_dir = Path(metric_folder) / "geomfeats_real"
# pre mls
vs1 = gf_dir / "2022-05-11_TLS_tree4_t_filtered_classified_leaves_1_leaves_gf.pkl"
vs5 = gf_dir / "2022-05-11_TLS_tree4_t_filtered_classified_leaves_5_leaves_gf.pkl"

# post mls
vs1_mls = gf_dir / "2022-05-11_TLS_tree4_t_filtered_classified_leaves_1_leaves_gf_mls.pkl"
vs5_mls = gf_dir / "2022-05-11_TLS_tree4_t_filtered_classified_leaves_5_leaves_gf_mls.pkl"

# wood
vs1_wood = gf_dir / "2022-05-11_TLS_tree4_t_filtered_classified_1_wood_gf.pkl"
vs5_wood = gf_dir / "2022-05-11_TLS_tree4_t_filtered_classified_5_wood_gf.pkl"

real_vs1_df = pd.read_pickle(vs1)
real_vs5_df = pd.read_pickle(vs5)
real_vs1_mls_df = pd.read_pickle(vs1_mls)
real_vs5_mls_df = pd.read_pickle(vs5_mls)
real_wood_vs1_df =  pd.read_pickle(vs1_wood)
real_wood_vs5_df =  pd.read_pickle(vs5_wood)

In [42]:
print("Voxel size = 1 cm, Planarity\n")
print("Before filtering")
print(f'NoData values in real data: {real_vs1_df["planarity"].isna().sum().sum()} \
= {(real_vs1_df["planarity"].isna().sum().sum() / len(real_vs1_df.index)*100):.2f}%')
print("After filtering")
print(f'NoData values in real data: {real_vs1_mls_df["planarity"].isna().sum().sum()} \
= {(real_vs1_mls_df["planarity"].isna().sum().sum() / len(real_vs1_mls_df.index)*100):.2f}%')

print("Voxel size = 5 cm, Planarity\n")
print("Before filtering")
print(f'NoData values in real data: {real_vs5_df["planarity"].isna().sum().sum()} \
= {(real_vs5_df["planarity"].isna().sum().sum() / len(real_vs5_df.index)*100):.2f}%')
print("After filtering")
print(f'NoData values in real data: {real_vs5_mls_df["planarity"].isna().sum().sum()} \
= {(real_vs5_mls_df["planarity"].isna().sum().sum() / len(real_vs5_mls_df.index)*100):.2f}%')

Voxel size = 1 cm, Planarity

Before filtering
NoData values in real data: 174 = 0.03%
After filtering
NoData values in real data: 150 = 0.02%
Voxel size = 5 cm, Planarity

Before filtering
NoData values in real data: 5 = 0.00%
After filtering
NoData values in real data: 7 = 0.00%

#### Height metrics

In [43]:
tls_hm_real = "2022-05-11_TLS_tree4_t_filtered_classified_height_metrics.pkl"
tls_hm_real_mls = "2022-05-11_TLS_tree4_t_filtered_classified_height_metrics_mls.pkl"
hm_df_real = pd.read_pickle(Path(metric_folder) / tls_hm_real)
hm_df_real_mls = pd.read_pickle(Path(metric_folder) / tls_hm_real_mls)

In [44]:
hm_df_real

,no_points,no_wood_points,no_leaf_points,Mean,Max,Std,D1,D2,D3,D4,D5,D6,D7,D8,D9
2022-05-11_TLS_tree4,1003146,351440,651706,2.151702,3.27375,0.661386,1.40875,1.542,1.68975,1.838,2.059,2.34625,2.6555,2.9195,3.086

In [45]:
hm_df_real_mls

,no_points,no_wood_points,no_leaf_points,Mean,Max,Std,D1,D2,D3,D4,D5,D6,D7,D8,D9
2022-05-11_TLS_tree4,1003146,351440,651706,2.151698,3.26578,0.661303,1.41158,1.54148,1.68928,1.83628,2.06218,2.34628,2.65608,2.91788,3.08878

In [46]:
hm_df_real - hm_df_real_mls

,no_points,no_wood_points,no_leaf_points,Mean,Max,Std,D1,D2,D3,D4,D5,D6,D7,D8,D9
2022-05-11_TLS_tree4,0,0,0,0.000003,0.00797,0.000083,-0.00283,0.00052,0.00047,0.00172,-0.00318,-0.00003,-0.00058,0.00162,-0.00278